@font-face {
  font-family: "Cuprum";
  src: url(/fonts/cuprum.woff) format(woff),
    url(/fonts/cuprum.woff2) format(woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Cuprum";
  src: url(/fonts/cuprumbold.woff) format(woff),
    url(/fonts/cuprumbold.woff2) format(woff2);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "PT Sans";
  src: url(/fonts/ptsans.woff) format(woff),
    url(/fonts/ptsans.woff2) format(woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url(/fonts/ptsansbold.woff) format(woff),
    url(/fonts/ptsansbold.woff2) format(woff2);
  font-style: normal;
  font-weight: 700;
}

:root {
  --basic-dark: #293449;
  --basic-moredark: #32425c;
  --basic-gray: #f1f5f7;
  --basic-lightgray: #f9f5f0;
  --basic-white: #ffffff;
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-yelow: #ffbf47;
  --basic-lightyelow: #f7f3ec;
  --basic-blue: #3bbce3;
  --basic-purple: #dc91d8;
  --basic-gree2: #8ed78f;
  --basic-black: #000000;
  --basic-range: #c5c5c5;
  --basic-minmax: #ababab;
  --bsaic-popup: #f4f4f4;
}

.body {
  /*width: 1200px;*/
  margin: 0 auto;
  padding: 0;
  font-family: "Cuprum", "PT Sans", sans-serif;
}

.wraper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  width: 100%;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  background-color: var(--basic-gray);
  text-transform: capitalize;
}

.header__top {
  width: 100%;
  height: 43px;
  background-color: var(--basic-dark);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.wraper__top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 220px;
  height: 47px;
}

.logo__link {
  width: 100%;
  height: 47px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo__link:active {
  background: #ba2732;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.top__item {
  width: 570px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.top__list {
  display: flex;
  align-items: center;
  height: 43px;
  color: var(--basic-white);
}

.top__list:first-child {
  width: 270px;
}

.top__list:nth-child(2) {
  margin-left: auto;
  margin-top: -4px;
  padding-top: 4px;
}

.top__list:last-child {
  display: flex;
  justify-content: center;
  width: 150px;
  margin-top: -4px;
  padding-top: 4px;
}

.top__list:nth-child(2):active,
.top__list:last-child:active {
  background-color: #161d29;
  opacity: 0.5;
}

.top__item .top__list:not(:first-child) {
}

.top__list-input {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  text-transform: capitalize;
  padding-left: 42px;
  margin-top: -4px;
  padding-top: 4px;
  background: transparent url(/source/header/icon-search.svg) no-repeat 17px
    14px;
}

.top__list-input::placeholder {
  color: var(--basic-white);
}

.top__list-input:hover {
  background: url(/source/header/hover/icon-search-white.svg) no-repeat 17px
    14px;
}

.top__list-input:focus {
  background: var(--basic-white) url(/source/header/hover/icon-search-red.svg)
    no-repeat 17px 14px;
  color: var(--basic-black);
}

.top__list-input:active {
  color: var(--basic-range);
  background: url(/source/header/icon-search.svg) no-repeat 17px 14px;
}

.top__list-input:active::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.top__list-input:focus {
}

.top__link {
  display: inline-block;
  height: 43px;
  text-decoration: none;
  color: var(--basic-white);
}

.top__link2 {
  width: 150px;
  height: 24px;
  position: relative;
  padding-left: 42px;
}

.top__link2::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 13px;
  width: 18px;
  height: 18px;
  background: url(/source/header/icon-bookmark.svg) no-repeat 0 0;
}

.top__link2:hover {
  background: url(/source/header/hover/icon-bookmark-hover.svg) no-repeat 13px
    4px;
}

.top__link2:active,
.top__link3:active {
  color: rgba(255, 255, 255, 0.5);
}

.top__list3 {
  width: 150px;
  height: 43px;
  margin-top: -4px;
  padding-top: 4px;
  background-color: var(--basic-red);
}

.top__link3 {
  display: flex;
  align-items: center;
  width: 150px;
  height: 43px;
  padding-left: 48px;
  position: relative;
}

.top__link3::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 24px;
  width: 18px;
  height: 18px;
  background: url(/source/header/icon-cart.svg) no-repeat 0 0;
}

.top__link3:hover {
  background: url(/source/header/hover/icon-cart-white.svg) no-repeat 24px 13px;
}

.top__button {
  margin-top: -4px;
  width: 150px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-white);
  background-color: var(--basic-green);
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.top__button:hover {
  transition: 0.5s;
  background-color: #5fbb2d;
}

.top__button:active {
  background-color: var(--basic-green);
  color: rgba(255, 255, 255, 0.5);
}

.header__midle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 155px;
}

.description {
  font-family: Cuprum;
  font-weight: normal;
  align-items: center;
  padding-left: 30px;
}

.description__text {
  text-transform: initial;
  width: 197px;
  height: 71px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.company {
  font-family: Cuprum;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.company__tel {
  width: 270px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  border: 3px solid var(--basic-white);
  text-align: center;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.tel__link {
  color: var(--basic-red);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  padding-left: 36px;
}

.tel__link::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 40px;
  width: 20px;
  height: 20px;
  background: url(/source/header/icon-phone.svg) no-repeat 0 0;
  text-align: center;
}

.company__address {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

.company__buttons {
  display: flex;
  text-transform: capitalize;
  font-size: 21px;
  line-height: 21px;
  margin-top: -26px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  text-transform: capitalize;
}

.button__login {
  position: relative;
  width: 121px;
  height: 45px;
  padding-left: 20px;
}

.button__login::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 20px;
  width: 20px;
  height: 17px;
  background: url(/source/header/icon-login.svg) no-repeat 0 0;
}

.button__login:hover::before {
  transition: 0.7s;
  background: var(--basic-white) url(/source/header/hover/icon-login-hover.svg)
    no-repeat 0 0;
}

.button__login:hover {
  transition: 0.7s;
  color: var(--basic-red);
}

.button__exit {
  width: 150px;
  height: 45px;
  margin-left: 10px;
}

.button__exit:hover {
  color: var(--basic-red);
}

.button__login:active::before {
  background: var(--basic-white) url(/source/header/icon-login.svg) no-repeat 0
    0;
}

.button__login:active,
.button__exit:active {
  color: var(--basic-range);
}

.navigation__nav {
  color: white;
  font-size: 18px;
  line-height: 24px;
  height: 60px;
  background-color: var(--basic-moredark);
  box-shadow: inset 0px -5px 0px #293449;
}

.nav__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
}

.nav__list {
  width: 100%;
  height: 100%;
  align-self: center;
}

.nav__list:first-child {
}

.nav__list:last-child {
}

.nav__link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  line-height: 24px;
}

.nav__link:hover {
  transition: 0.5s;
  background: var(--basic-dark);
  box-shadow: inset 0px -5px 0px var(--basic-dark);
}

.nav__link:active {
  background: #1d2739;
  box-shadow: inset 0px -5px 0px #293449;
  color: rgba(255, 255, 255, 0.5);
}

.header__bottom {
  width: 100%;
  height: 60px;
  background-color: var(--basic-gray);
  margin-bottom: 60px;
}

.main__index {
}

.catalog {
}

.catalog__visibletitle {
  opacity: 0;
}

.catalog__item {
  width: 940px;
  height: 410px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 59px;
}

.catalog__list {
  font-family: Cuprum;
  font-style: normal;
  padding-left: 23px;
  padding-top: 20px;
}

.list1 {
  background: url(/source/index/new.png) no-repeat 100% 0,
    url(/source/index/icon-1.svg) no-repeat 213px 30px;
  background-color: var(--basic-yelow);
}

.list2 {
  background: url(/source/index/icon-2.svg) no-repeat 194px 34px;
  background-color: var(--basic-blue);
}

.list3 {
  background: url(/source/index/icon-3.svg) no-repeat 191px 31px;
  background-color: var(--basic-purple);
}

.list4 {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  position: relative;
  padding: 0;
}

.list5 {
  background: url(/source/index/icon-4.svg) no-repeat 196px 26px;
  background-color: var(--basic-gree2);
}

.list6 {
  background: url(/source/index/icon-5.svg) no-repeat 191px 32px;
  background-color: var(--basic-yelow);
}

.catalog__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  color: var(--basic-white);
  margin-bottom: 14px;
}

.catalog__slide {
  height: 100%;
  width: 100%;
  display: none;
  padding-top: 23px;
  padding-left: 24px;
}

.catalog__slide1 {
  display: block;
  position: absolute;
  background: url(/source/index/perforator.jpg) no-repeat 0 0;
}

.catalog__slide2 {
  position: absolute;
  background: url(/source/index/drel.jpg) no-repeat 0 0;
}

.catalog__slide-visible {
  display: block;
}

.catalogslide__button {
  position: absolute;
  background-color: transparent;
}

.button__previous {
  top: 122px;
  left: 24px;
}

.button__next {
  top: 120px;
  right: 20px;
}

.catalogslide__carousel {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
}

.carousel1 {
  width: 10px;
  height: 10px;
  top: 220px;
  left: 295px;
  background-color: var(--basic-red);
}

.carousel2 {
  width: 10px;
  height: 10px;
  top: 220px;
  left: 315px;
}

.carousel__red {
  background-color: var(--basic-red);
}
.carousel__white {
  background-color: var(--basic-white);
}

.catalogslide__title {
  color: var(--basic-white);
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.catalog__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 38px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 0.3);
}

.catalog__button:hover {
  transition: 0.5s;
  background-color: rgba(197, 197, 197, 0.3);
}

.catalog__button:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.catalog__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.catalog__link {
  position: absolute;
  left: 24px;
  bottom: 27px;
}

.popular {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
}

.container__title {
  height: 90px;
  background-color: var(--basic-lightgray);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
  padding-left: 28px;
}

.red__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 38px;
  color: white;
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 15px;
}

.red__button:hover {
  transition: 0.6s;
  background-color: #ca2c37;
}

.red__button:active {
  transition: 0.6s;
  background-color: #ba2732;
}

.popular__item {
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: 70px;
}

.popular__list {
  width: 220px;
  height: 318px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eaeaea;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 20px;
}

.popular__list:first-child {
  padding-top: 6px;
}

.popular__list:nth-child(2) {
  padding-top: 29px;
}

.popular__list:nth-child(3) {
  padding-top: 22px;
}

.popular__list:last-child {
  padding-top: 28px;
  margin: 0;
}

.popular__img1 {
  margin-bottom: 12px;
}

.popular__img2 {
  margin-bottom: 38px;
}

.popular__img3 {
  margin-bottom: 28px;
}

.popular__img4 {
  margin-bottom: 38px;
}

.popular__title {
  width: 185px;
  height: 43px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  margin-bottom: 6px;
}

.popular__oldprice {
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #a9a9a9;
  margin-bottom: 13px;
}

.popular__newprice {
  display: inline-block;
  width: 141px;
  height: 48px;
  text-align: center;
  padding-top: 10px;
  font-size: 17px;
  color: var(--basic-white);
  background: url(/source/catalog/new-price-bc.svg) no-repeat 0 0;
}

.manufacturer {
  margin-bottom: 70px;
}

.manufacturer__title {
}

.manufacturer__item {
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.manufacturer__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea;
}

.manufacturer__list:nth-child(7):hover {
  border: 1px solid #eaeaea;
}

.manufacturer__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manufacturer__link:hover {
  transition: 0.5s;
  background: var(--basic-white);
  border: 1px solid #eaeaea;
  box-sizing: border-box;
}

.manufacturer__link:active {
  background: var(--basic-white);
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  opacity: 0.5;
}
.service {
  background-color: var(--basic-gray);
}

.service__title {
  padding: 0;
  padding-top: 65px;
  margin-bottom: 25px;
}

.service__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin-bottom: 70px;
}

.container__service {
  display: flex;
}

.slide__link {
  position: relative;
  width: 240px;
  height: 300px;
  margin-right: 80px;
}

.slide__gradient {
  position: absolute;
  top: -40px;
  left: 230px;
  background-image: url(/source/index/icon-gradient.svg);
}

.slide__link-list {
  height: 61px;
  background-color: var(--basic-moredark);
  box-shadow: 0px 1px 0px var(--basic-dark), inset 0px 1px 0px #405069;
}

.slide__link-list:first-child {
  background-color: var(--basic-white);
  border: none;
  box-shadow: 0px 1px 0px var(--basic-white);
}

.slide__a {
  width: 100%;
  height: 61px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: var(--basic-white);
  font-family: Cuprum;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  padding-left: 22px;
  background: var(--basic-moredark);
}

.a1__focus {
  background-color: var(--basic-white);
  color: var(--basic-moredark);
}

.a2 {
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.a3 {
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.slide__a:hover {
  transition: 0.6s;
  color: var(--basic-white);
  background: var(--basic-dark);
  box-shadow: 0px 1px 0px var(--basic-dark), inset 0px 1px 0px #405069;
}

.slide__a:focus {
  background-color: var(--basic-white);
  color: var(--basic-moredark);
}

.slide {
}

.slide__item {
  font-style: normal;
  font-weight: 400;
}

.slide__list {
  width: 619px;
  height: 283px;
  display: none;
}

.slide__list-visible {
  display: block;
}

.list__pic1 {
  background: url(/source/index/layer1.png) no-repeat 151px 20px;
}

.list__pic2 {
  background: url(/source/index/layer2.png) no-repeat 201px 20px;
}

.list__pic3 {
  background: url(/source/index/layer3.png) no-repeat 151px 20px;
}

.list__first {
  display: block;
}

.slide__title {
  text-transform: capitalize;
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 30px;
}

.slide__text {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
}

.text__delivery,
.text__credit {
  width: 300px;
  height: 100px;
}

.text__garanties {
  width: 330px;
  height: 123px;
}

.slide__list2 {
  display: none;
}

.slide__list3 {
  display: none;
}

.grid__containercontacts {
  padding-top: 70px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 70px;
}

.info {
  position: relative;
  font-style: normal;
  font-weight: 400;
  background-color: var(--basic-white);
}

.info__title {
  padding: 0;
  margin-bottom: 24px;
}

.info__text {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
}

.info__item {
  margin-bottom: 20px;
}

.info__list {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 14px;
}

.info__list:last-child {
  margin: 0;
}

.info__list-img {
  margin-top: 10px;
}

.info__button {
  width: 220px;
  height: 38px;
}

.contacts {
  background-color: var(--basic-white);
  justify-self: end;
}

.contacts__title {
  padding: 0;
  margin-bottom: 24px;
}

.contacts__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  padding: 0;
  margin-bottom: 22px;
}

.button__map {
  width: 300px;
  height: 158px;
  margin-bottom: 25px;
}

.contacts__button {
  width: 300px;
  height: 38px;
}

/*      footer     */

.footer {
  font-family: Cuprum;
  font-style: normal;
  text-transform: capitalize;
  background-color: var(--basic-moredark);
}

.footer__top {
  height: 68px;
  display: flex;
}

.top__flex {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__item {
  width: 546px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.item__white {
  color: var(--basic-gray);
}

.item__white:hover {
  transition: 0.6s;
  border-bottom: 1px solid var(--basic-white);
}

.item__white:active {
  opacity: 0.5;
}

.footer__tel {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-gray);
}

.footer__adress {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-gray);
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: initial;
}

.logo__footer {
  align-self: flex-start;
  height: 68px;
  margin-bottom: 22px;
}

.center__flex {
  height: 131px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__itemgold {
  width: 524px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.footer__listgold {
}

.item__gold {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.item__gold:hover {
  transition: 0.6s;
  border-bottom: 1px solid #ffd180;
}

.item__gold:active {
  opacity: 0.5;
}

.center__flex {
}

.footer__bottom {
  background-color: var(--basic-dark);
}

.flex__bottom {
  width: 100%;
  height: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rights {
}

.rights__text {
  width: 300px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: white;
}

.socials {
}

.socials__item {
  width: 135px;
  display: flex;
  justify-content: flex-end;
}

.socials__list {
  width: 45px;
  height: 45px;
}

.socials__link {
  display: inline-block;
  width: 45px;
  height: 45px;
}

.socials__link1 {
  background: url(/source/index/vk.svg) no-repeat 0 0;
}

.socials__link1:hover {
  transition: 0.6s;
  background: url(/source/footer/hover/icon-vk-red.svg) no-repeat 0 0;
}

.socials__link2 {
  background: url(/source/index/fb.svg) no-repeat 0 0;
}

.socials__link2:hover {
  transition: 0.6s;
  background: url(/source/footer/hover/icon-fb-red.svg) no-repeat 0 0;
}

.socials__link3 {
  background: url(/source/index/inst.svg) no-repeat 0 0;
}

.socials__link3:hover {
  transition: 0.6s;
  background: url(/source/footer/hover/icon-inst-red.svg) no-repeat 0 0;
}

.feedback {
  cursor: default;
  width: 140px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding-left: 20px;
}

.feedback__title,
.developed__title {
  color: white;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 18px;
}

.feedback__gold {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: lowercase;
  color: #ffd180;
}

.feedback__gold:hover {
  transition: 0.3s;
  text-decoration: underline;
}

.feedback__gold:active {
  transition: 0.3s;
  color: var(--basic-red);
}

.developed {
  cursor: default;
}

.developed__link {
  display: inline-block;
}

/*    catalog      */

.user__button {
  width: 299px;
  height: 70px;
}

.user__login::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 20px;
  height: 18px;
  background: url(/source/header/icon-user.svg) no-repeat 0 0;
}

.user__login:hover::before {
  transition: 0.5s;
  background: var(--basic-white) url(/source/catalog/hover/icon-user-hover.svg)
    no-repeat 0 0;
}

.user__login:active::before {
  background: url(/source/header/icon-user.svg) no-repeat 0 0;
  color: var(--basic-range);
}

.user__login:active {
  color: var(--basic-range);
}

.user__login {
  position: relative;
  display: inline-block;
  width: 299px;
  height: 45px;
  background: var(--basic-white);
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-black);
  margin-bottom: 7px;
}

.user__login::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
  height: 17px;
  background: url(/source/header/icon-exit.svg) no-repeat 0 0;
}

.user__login:hover::after {
  transition: 0.5s;
  background: var(--basic-white)
    url(/source/catalog/hover/icon-logout-hover.svg) no-repeat 0 0;
}

.user__login:active::after {
  background: url(/source/header/icon-exit.svg) no-repeat 0 0;
  color: var(--basic-range);
}

.user__item {
  width: 210px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.user__list {
}

.list__dotted {
  margin-top: 6px;
  width: 6px;
  height: 7px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      var(--basic-moredark),
      var(--basic-moredark)
    ),
    var(--basic-white);
}
.user__link {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-moredark);
}

.user__link:hover {
  transition: 0.5s;
  color: var(--basic-red);
}

.user__link:active {
  color: var(--basic-range);
}

.link__first {
}

.link__second {
}

.main__catalog {
  margin-top: -45px;
}

.crumbs {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.crumbs__item {
  display: flex;
  align-items: center;
}

.crumbs__list {
  margin-right: 16px;
}

.crumbs__img {
  align-self: center;
  margin-top: 2px;
}

.catalog__maintitle {
  width: 100%;
  height: 89px;
  background-color: var(--basic-gray);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.grid__containerproduct {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
}

.filter {
  font-family: PT Sans;
  font-style: normal;
}

.filter__title {
  width: 220px;
  height: 38px;
  background-color: var(--basic-lightyelow);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 14px;
  text-transform: uppercase;
  padding: 10px 0 10px 18px;
}

.filter__form {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.fieldset {
  display: flex;
  flex-direction: column;
}

.filter__fieldset,
.filter__fieldset1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 17px;
}

/*    range__filter        */

.filter__range {
}

.range__controls {
  position: relative;
  width: 220px;
  height: 80px;
  padding-top: 39px;
  background-color: var(--basic-lightyelow);
  border-radius: 5px;
  margin-bottom: 10px;
}

.range__controls .scale {
  width: 180px;
  height: 2px;
  background-color: var(--basic-range);
  margin: 0 auto;
}

.bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-green);
}

.toogle {
  width: 20px;
  height: 20px;
  background-color: var(--basic-minmax);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
}

.toogle__min {
  top: 30px;
  left: 10px;
  position: absolute;
}

.toogle__max {
  top: 30px;
  right: 65px;
  position: absolute;
}

.range__price {
  display: flex;
  justify-content: space-between;
  height: 38px;
  margin-bottom: 25px;
}

.price__min,
.price__max {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.price__min {
  padding-left: 42px;
  display: flex;
  width: 95px;
  height: 100%;
  background-color: var(--basic-lightyelow);
}

.min__input {
  margin: 0 auto;
  background-color: transparent;
}

.span__range {
  width: 8px;
  height: 1px;
  display: inline-block;
  background-color: var(--basic-black);
  margin: auto 0;
}

.price__max {
  padding-left: 24px;
  display: flex;
  width: 95px;
  height: 100%;
  background-color: var(--basic-lightyelow);
}

.max__input {
  margin: 0 auto;
  background-color: transparent;
}

.filter__legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 10px;
}

.filterform__label {
  display: block;
  position: relative;
  margin-bottom: 20px;
  margin-left: 35px;
}

.filterform__label:last-child {
  margin-bottom: 20px;
  margin-right: 12px;
}

.filterform__checkbox,
.filterform__radio {
  display: none;
}

.filterform__checkbox + label::before {
  position: absolute;
  top: -1px;
  left: -35px;
  content: "";
  width: 21px;
  height: 21px;
  border: 2px solid var(--basic-range);
  margin-right: 30px;
  z-index: 1;
}

.filterform__checkbox:hover + label::before {
  border: 2px solid #b5b5b5;
}

.filterform__checkbox:checked + label::before {
  position: absolute;
  top: -1px;
  left: -35px;
  content: "";
  background: url(/source/catalog/checked.svg) no-repeat 0 0;
  z-index: 10;
}

.filterform__checkbox:checked:hover + label::before {
  background: url(/source/catalog/hover/icon-checked-hover.svg) no-repeat 0 0;
}

.filterform__radio + label::before {
  position: absolute;
  top: -1px;
  left: -35px;
  content: "";
  width: 21px;
  height: 21px;
  border: 4px solid var(--basic-range);
  margin-right: 30px;
  border-radius: 50%;
}

.filterform__radio:hover + label::before {
  border: 4px solid #b5b5b5;
}

.filterform__radio:checked + label::after {
  position: absolute;
  top: 6px;
  left: -28px;
  content: "";
  width: 7px;
  height: 7px;
  background-color: var(--basic-range);
  border-radius: 50%;
}

.filterform__radio + label::after {
  background-color: #b5b5b5;
}

.filterform__button {
  width: 220px;
  height: 38px;
  text-transform: uppercase;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: black;
  background-color: var(--basic-white);
  border: 1px solid #e5e5e5;
  margin-top: 37px;
}

.container__mainsort {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 38px 1fr 38px;
  margin-bottom: 59px;
}

.sort {
  display: flex;
  align-items: center;
  grid-column: 1 / -1;
  text-transform: uppercase;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-lightyelow);
  /* margin-bottom: 28px;*/
}

.sort__title {
  padding-left: 19px;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.sort__item {
  display: flex;
  margin-left: 140px;
}

.sort__link {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-right: 60px;
  text-transform: uppercase;
  background-color: transparent;
}

.sort__list:nth-child(3) {
  /* margin-right: 45px;*/
}

.sort__list:nth-child(4) {
  margin-right: 20px;
}

.sort__list:nth-child(5) {
  /*  margin-right: 13px;*/
}

.sort__link1,
.sort__link2,
.sort__link3 {
  opacity: 0.3;
  border-bottom: 1px dotted #ee3643;
  color: black;
}

.sort__link:hover {
  transition: 0.5s;
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
  background-color: transparent;
  opacity: 1;
}

.sort__link:focus {
  color: var(--basic-red);
  border: none;
  opacity: 1;
}

.sort__up,
.sort__down {
  display: inline-block;
  width: 11px;
  height: 11px;
}

.sort__up {
  background: url(/source/catalog/icon-up.svg) no-repeat 0 0;
}

.sort__up:hover {
  transition: 0.6s;
  background: url(/source/catalog/hover/icon-up-black.svg) no-repeat 0 0;
}

.sort__up:focus {
  transition: 0.6s;
  background: url(/source/catalog/hover/icon-up-red.svg) no-repeat 0 0;
}

.sort__down {
  background: url(/source/catalog/icon-sort-down.svg) no-repeat 0 0;
}

.sort__down:hover {
  transition: 0.6s;
  background: url(/source/catalog/hover/icon-down-black.svg) no-repeat 0 0;
}

.sort__down:focus {
  transition: 0.6s;
  background: url(/source/catalog/hover/icon-down-red.svg) no-repeat 0 0;
}

.punchers {
  grid-column: 1 / -1;
  grid-row: 2 / -2;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-top: 28px;
  margin-bottom: 48px;
}

.punchers__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
}

.punchers__list {
  position: relative;
  background: var(--basic-white);
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  width: 220px;
  height: 318px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.list__hover {
  width: 135px;
  height: 100px;
  display: none;
  position: absolute;
  top: 38px;
  left: 41px;
  background-color: var(--basic-white);
}

.punchers__list:hover .list__hover {
  display: block;
}

.punchers__list:hover .punchers__img {
  opacity: 0;
}

.button__bookmarks:hover {
  transition: 0.7s;
  border: 3px solid #32425c;
  box-sizing: border-box;
  border-radius: 2px;
}

.button__bookmarks:active {
  transition: 0.7s;
  border: 3px solid #32425c;
  box-sizing: border-box;
  border-radius: 2px;
  opacity: 0.5;
}

.punchers__list:nth-child(3),
.punchers__list:nth-child(4),
.punchers__list:nth-child(6),
.punchers__list:nth-child(7),
.punchers__list:nth-child(9) {
  background-image: url(/source/index/new.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  z-index: 20;
}

.punchers__img {
  order: -1;
}

.punchers__list .punchers__img4,
.punchers__list .punchers__img7 {
  padding-top: 10px;
  margin-bottom: 34px;
}

.punchers__list .punchers__img6,
.punchers__list .punchers__img9 {
  margin-top: 5px;
}

.punchers__list .punchers__title6 {
  height: 72px;
  margin-top: -11px;
}

.punchers__list .punchers__title9 {
  height: 68px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.punchers__title {
  order: 0;
  width: 185px;
  text-transform: capitalize;
  color: black;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 7px;
}

.punchers__img {
  margin-bottom: 28px;
  margin-left: -17px;
}

.punchers__oldprice {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #a9a9a9;
  margin-bottom: 13px;
}

.punchers__newprice {
  display: inline-block;
  width: 141px;
  height: 38px;
  text-align: center;
  padding-top: 10px;
  color: var(--basic-white);
  background-image: url(/source/catalog/new-price-bc.svg);
}

.punchers__button {
  display: inline-block;
  width: 135px;
  height: 38px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.button__buy {
  color: var(--basic-white);
  background: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  margin-bottom: 10px;
}

.button__buy:hover {
  transition: 0.7s;
  background: #5fbb2d;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.button__buy:active {
  transition: 0.7s;
  background: #518534;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.button__bookmarks {
  color: var(--basic-moredark);
  background: var(--basic-white);
  border: 3px solid #63a63e;
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 64px;
}

.pages {
  width: 300px;
  height: 38px;
}

.pages__item {
  display: flex;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-black);
}

.pages__list {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--basic-white);
  color: black;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 10px;
}

.pages__list:first-child {
  color: coral;
}

.pages__list:hover {
  transition: 0.6s;
  border: 1px solid var(--basic-range);
  box-sizing: border-box;
  border-radius: 2px;
}

.pages__list:active {
  transition: 0.6s;
  border: 1px solid var(--basic-red);
  box-sizing: border-box;
  border-radius: 2px;
}

.pages__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages__list:first-child .pages__link:first-child {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.pages__link:focus {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.pages__list:first-child {
}

.pages__list:last-child {
  width: 140px;
}

.pages__link {
  height: 100%;
  width: 100%;
  color: black;
  text-transform: uppercase;
  background-color: transparent;
}

.popup__buy {
  display: none;
  position: absolute;
  top: 314px;
  left: 179px;
  width: 620px;
  height: 282px;
  background-color: var(--basic-white);
  z-index: 20;
}

.popup__visible {
  display: block;
  z-index: 20;
}

.popupbuy__container {
  position: relative;
}

.popupcontainer__title {
  position: relative;
  height: 163px;
  background-color: var(--basic-white);
  padding-top: 66px;
}

.popupbuy__title {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-align: center;
}

.popupbuy__title::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  top: 48px;
  left: 81px;
  background: var(--basic-green)
    url(/source/catalog/icon-popupbuy-background.svg) no-repeat 15px 20px;
  border-radius: 50%;
}

.popupbuy__containerbutton {
  height: 112px;
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupbuy__button {
  width: 192px;
  height: 38px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.button__order {
  color: var(--basic-white);
  background-color: var(--basic-red);
  margin-right: 10px;
}

.button__continue {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.anyworld {
  width: 100%;
  height: 261px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  background-color: var(--basic-gray);
  color: black;
  padding-top: 64px;
}

.anyworld__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.anyworld__text {
  width: 908px;
  height: 74px;
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
}

/*   ANIMATION         */
@keyframes feedback {
  0% {
    transform: translateX(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes map {
  0% {
    transform: translateY(-1000px) scale(0.1);
    opacity: 0;
  }
  20% {
    transform: scale(0.2);
    opacity: 0.2;
  }
  40% {
    transform: scale(0.4);
    opacity: 0.4;
  }
  60% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  80% {
    transform: scale(0.8);
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/*    POPUP */

.popup__feedback {
  position: absolute;
  top: 14px;
  left: 282px;
  display: none;
}

.popup__feedback-visible {
  display: block;
  animation: feedback 0.8s;
}

.feedback__container {
  position: relative;
  width: 620px;
  height: 430px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75);
  background-color: var(--basic-white);
}

.top__line {
  position: relative;
  width: 100%;
  height: 7px;
  background-color: #ff5257;
  margin-bottom: 39px;
}

.popup__close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 21px;
  right: 11px;
  background: url(/source/index/icon-close.svg) no-repeat 0 0;
}

.popup__form {
  width: 100%;
}

.container__topline {
  display: flex;
}

.popup__label {
  display: flex;
  flex-direction: column;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  margin-bottom: 11px;
}

.popup__label:first-child {
  margin-left: 80px;
  margin-right: 20px;
}

.popup__input {
  margin-top: 11px;
  width: 220px;
  height: 38px;
  border: 2px solid #c5c5c5;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0 12px;
}

.textarea__label {
  margin-left: 80px;
}

.popup__textarea {
  width: 460px;
  height: 114px;
  border: 2px solid #c5c5c5;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 7px 12px 0;

  margin-bottom: 37px;
}

.container__button {
  width: 100%;
  height: 112px;
  background-color: var(--bsaic-popup);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__button {
  width: 460px;
  height: 38px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

/*popup map*/

.popup__map {
  position: absolute;
  top: 14px;
  left: 0px;
  display: none;
}

.popup__map-visible {
  display: block;
  animation: map 1s;
}

.map__container {
  position: relative;
  width: 943px;
  height: 449px;
}

.map__line {
  margin: 0;
}

.map__close {
  position: absolute;
  top: 17px;
  right: 10px;
  z-index: 10;
}

.map__iframe {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}
