@font-face {
  font-family: "Cuprum";
  src:
    url(/fonts/cuprum.woff) format(woff),
    url(/fonts/cuprum.woff2) format(woff2);
   font-style: normal;
   font-weight: 400;
}

@font-face {
  font-family: "Cuprum";
  src:
    url(/fonts/cuprumbold.woff) format(woff),
    url(/fonts/cuprumbold.woff2) format(woff2);
   font-style: normal;
   font-weight: 700;
}

@font-face {
  font-family: "PT Sans";
  src:
    url(/fonts/ptsans.woff) format(woff),
    url(/fonts/ptsans.woff2) format(woff2);
   font-style: normal;
   font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src:
    url(/fonts/ptsansbold.woff) format(woff),
    url(/fonts/ptsansbold.woff2) format(woff2);
   font-style: normal;
   font-weight: 700;
}

:root {
  --basic-dark: #293449;
  --basic-moredark: #32425C;
  --basic-gray: #F1F5F7;
  --basic-lightgray: #F9F5F0;
  --basic-white: #FFFFFF;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-yelow: #FFBF47;
  --basic-lightyelow: #F7F3EC;
  --basic-blue: #3BBCE3;
  --basic-purple: #DC91D8;
  --basic-gree2: #8ED78F;
  --basic-black: #000000;

}

.body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family:"Cuprum", "PT Sans", sans-serif;

}

.wraper {
  background-color: transparent;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  background-color: var(--basic-gray);
  text-transform: capitalize;
}

.header__top{
  display: grid;
  grid-template-columns: 220px 1fr 150px;
  background-color: var(--basic-dark);
  font-size: 18px;
  line-height: 24px;
  color:var(--basic-white);


}

.logo{

}

.logo__link{
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo__title{

}

.top__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.top__list{
  color: var(--basic-white);
}

.top__item .top__list:not(:first-child) {
  display: grid;
  justify-content: center;
}

.top__list-input {
  /*display: none;*/
}

/*.top__list-input:active,
.top__list-input:focus{
  display: initial;
}*/

.top__link {
  text-decoration: none;
  color: var(--basic-white);
}

.top__button {
  justify-content: center;
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.header__midle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.description {
  font-family: Cuprum;
  font-weight: normal;
  font-style: normal;
  justify-content: center;
}

.description__text {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color:var(--basic-red);
}

.company{
  font-family: Cuprum;
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.company__tel {
  border: 3px solid var(--basic-white);
  text-align: center;
}

.tel__link {
  color: var(--basic-red);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;

}

.company__address {
  font-size: 14px;
  line-height: 24px;

}

.company__buttons {
  display: grid;
  grid-template-columns:120px 150px;
  text-transform: capitalize;
  font-size: 21px;
  line-height: 21px;
}

.button {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  background-color: rgba(0, 0, 0, 0.0001);
  text-transform: capitalize;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.navigation__nav {
  color: white;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-moredark);
}

.nav__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.nav__list{
  margin-right: 54px;
}

.nav__list:first-child{
  margin-left: 52px;
}

.nav__list:last-child{
  margin-right: 50px;
}

.nav__link {
  color: white;
  font-size: 18px;
  line-height: 24px;
}

.main__index {

}

.catalog {

}

.catalog__visibletitle {
  opacity: 0;
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;

}

.catalog__list {

}

.list1 {
  background: url(/source/index/new.png) no-repeat 100% 0;
  background-color: var(--basic-yelow);
}

.list2 {
  background-color: var(--basic-blue);
}

.list3 {
  background-color: var(--basic-purple);
}

.list4 {
  grid-column: 1 / span 2;
  grid-row: 2 / 4;
  background-image: url(/source/index/perforator.jpg);
}

.list5 {
  background-color: var(--basic-gree2);
}

.list6 {
  background-color: var(--basic-yelow);
}
.catalog__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  color:var(--basic-white)
}

/*  вопрос для ссенсея: не получается адекватно сделать кнопку под заголовком, а точнее бэкграйнл с опасити */
.list__p {
  background: #757474;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.catalog__text {
  color:var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.visible {

}

.catalog__button {
  text-transform: uppercase;
  background-color:var(--basic-red);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
}

.button {

}

.popular {
  font-style: normal;
  font-weight: normal;
}

.container__title {
  background-color: var(--basic-lightgray);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.popular__title{

}

.title {
  font-size: 30px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
  padding-left: 28px;
}

.red__button {
  color: white;
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 15px;
}

.popular__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
  font-family: PT Sans;
  font-style: normal;
}

.popular__list {
  width: 220px;
  height: 318px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid #EAEAEA;
  text-transform: uppercase;
  font-weight: 700;
}

.popular__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.popular__oldprice {
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #A9A9A9;
}

.popular__newprice {
  background-color: var(--basic-red);
  font-size: 17px;
  color: white;

}

.manufacturer {

}


.manufacturer__title{

}

.manufacturer__item{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.manufacturer__list{
  border: 1px solid #EAEAEA;
}

.service {
  background-color: var(--basic-gray);
}

.service__title {
  padding: 0;
}

.service__text{
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.slide__link  {

}

.slide__link-list {
  background-color:var(--basic-moredark);
}

.slide__link-list:first-child{
  background-color: var(--basic-white);
  border: none;

}

.slide__a:nth-of-type() {
  color: #32425C;
}

.slide__a {
  text-transform: capitalize;
  color: white;
  font-family: Cuprum;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}


.slide {

}

.slide__item {
  font-style: normal;
  font-weight: 400;
}

.slide__list1 {

}

.slide__title {
  text-transform: capitalize;
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
}

.slide__text {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
}

.slide__list2 {
  display: none;
}

.slide__list3 {
  display: none;
}

.grid__containercontacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info {
  font-style: normal;
  font-weight: 400;
}

.info__title {
  padding: 0;
}

.info__text {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
}

.info__item {

}

.info__list {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.info__button {

}

.contacts {
  justify-self: end;
}

.contacts__title {
  padding: 0;
}

.contacts__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  padding: 0;
}

.contacts__button {

}


/*      footer     */
.footer {
  background-color: var(--basic-moredark);
}

.grid__containerfooter {
  display: grid;
  grid-template-columns: 360px 560px;
}

.footer__tel {
  font-size: 18px;
  line-height: 24px;
  color: #F3F7F9;
}

.footer__text{
  font-size: 18px;
  line-height: 24px;
  color: #F3F7F9;
}

.footer__items {

}

.footer__item {
  display: flex;
  justify-content: flex-end;
  font-family: Cuprum;
  font-style: normal;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-left: 58px;
}

.footer__list {
  margin-right: 58px;
}

.footer__list:last-child {
  margin-right: 0;
}


.item__white {
  color: #F1F5F7;
}

.footer__item2 {
  margin-left: 20px;
}

.footer__list2 {
  margin-right: 58px;
}

.footer__list2:last-child {
  margin-right: 0;
}

.item__gold {
  color: #FFD180;
}

.footer__bottom {

  background-color: var(--basic-dark);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.rights {

}

.rights__text {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: white;
}

.socials {
  margin-left: 120px;
}

.socials__item {
  display: flex;
  justify-content: flex-end;
  margin-left: 40px;
}

.socials__list1 {
  width: 45px;
  height: 45px;
  background: url(/source/index/vk.svg) no-repeat;
}

.socials__list2 {
  width: 45px;
  height: 45px;
  background: url(/source/index/fb.svg) no-repeat;
}

.socials__list3 {
  width: 45px;
  height: 45px;
  background: url(/source/index/inst.svg) no-repeat;
}


.feedback {
  display: grid;
  justify-content: end;
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.feedback__title,
.developed__title{
  color: white;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 18px;
}

.gold {
  color: #FFD180;
}


.developed {
  display: grid;
  justify-content: center;
}

.developed__title {

}

.developed__text {

}


                /*    catalog      */

.main__catalog {

}

.crumbs {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: black;
  text-transform: uppercase;
}

.crumbs__item{
  display: flex;
}

.crumbs__list{
  margin-right: 16px;
}

.catalog__maintitle {
  background-color: var(--basic-gray);
}

.grid__containerproduct {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
}


.filter {

}

.filter__title {
  background-color: var(--basic-lightyelow);
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.filter__form {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: black;
}

.filter__legend {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: black;
}

.filterform__checkbox {
 /* background-color: #C5C5C5;*/
}

.filterform__button {
  text-transform: uppercase;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: black;
  background-color: var(--basic-white);
  border: 1px solid #E5E5E5;
}

.container__mainsort {
  display: grid;
  grid-template-columns:1fr  1fr  1fr;
  grid-template-rows: 38px 1fr 38px;
}

.sort {
  display: flex;
  grid-column: 1 / -1;
  text-transform: uppercase;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-lightyelow);
}

.sort__title {
  padding-left: 19px;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.sort__item {
  display: flex;
  margin-left: 140px;
}

.sort__list {
  margin-right: 60px;
}

.sort__list:nth-child(3) {
  margin-right: 45px;
}

.sort__list:nth-child(4) {
  margin-right: 20px;
}

.sort__list:nth-child(5) {
  margin-right: 13px;
}



.sort__liink1 {
  color: var(--basic-red);

}

.sort__liink2{
  opacity: 0.3;
  border-bottom: 1px dotted #EE3643;
  color: black;
}

.sort__liink3{
  opacity: 0.3;
  border-bottom: 1px dotted #EE3643;
  color: black;
}

.punchers {
  grid-column: 1 / -1;
  grid-row: 2 / -2;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.punchers__item {
  display: flex;
  flex-wrap: wrap;

}

.punchers__list {
  width: 220px;
}

.punchers__title {
  text-transform: capitalize;
  color: black;
  font-weight: 700;
  line-height: 20px;
}

.punchers__oldprice {
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #A9A9A9;
}

.punchers__newprice {}

.pages {

}

.pages__item {
  display: flex;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.pages__list:first-child {
  background-color: var(--basic-red);
  color: white;
}

.pages__list {
  background: var(--basic-white);
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 10px;
}


.pages__link {
  color: black;
  text-transform: uppercase;
}

.pages__link1{
  color: white;
}

.anyworld {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  background-color: var(--basic-gray);
  color: black;
}

.anyworld__title {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

}

.anyworld__text {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
}





















                /*    POPIT */
